@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto condensed', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
}

.text .correct {
    color: rgb(0, 76, 255);
}

.text .wrong {
    color: orangered;
    border-bottom: 1px solid orangered;
}


@media only screen and (max-width: 750px) {
    .text {
        width: 90%;
    }
}



