@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto condensed";
}

::-webkit-scrollbar {
  display: none;
}

body {
  transition: all 0.5s ease;
  height: 100vh;
  overflow: hidden;
}
body.light {
  background-color: rgb(255, 248, 243);
}
body.light .settings-toggle {
  color: #242424;
}
body.light .text {
  color: #242424;
}
body.light .timer {
  color: #242424;
}
body.light .score {
  color: rgb(255, 248, 243);
}
body.light header .container {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.376);
}
body.dark {
  background-color: #0f1720;
}
body.dark .settings-toggle {
  color: rgb(255, 248, 243);
}
body.dark .text {
  color: rgb(255, 248, 243);
}
body.dark .timer {
  color: rgb(255, 248, 243);
}
body.dark .score {
  color: rgb(255, 248, 243);
}
body.dark header .container {
  box-shadow: 0 0 1px rgb(255, 248, 243);
}

.container {
  max-width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 720px) {
  .container {
    max-width: 96%;
  }
}

header .container {
  margin: 30px auto;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .timer {
  border-radius: 30px;
  padding: 4px 6px;
  margin-right: 50px;
}
header .timer.danger {
  color: rgb(254, 64, 12);
}
header .timer i {
  margin-right: 5px;
}
header .score span {
  border-radius: 30px;
  display: inline-block;
  padding: 4px 8px;
  line-height: 1;
}
header .score span i {
  margin-left: 5px;
}
header .score span:nth-of-type(1) {
  margin-right: 10px;
  background-color: rgb(0, 182, 134);
}
header .score span:nth-of-type(2) {
  background-color: rgb(254, 64, 12);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  color: #242424;
}
header nav .toggle-btn {
  border-radius: 50%;
  cursor: pointer;
}
header nav .theme-toggle {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 2px;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  background-color: #242424;
  margin-right: 30px;
  position: relative;
  transition: all 0.5s ease;
}
header nav .theme-toggle.dark {
  background-color: rgb(255, 248, 243);
}
header nav .theme-toggle .toggle-btn {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 248, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.5s ease;
}
header nav .theme-toggle .toggle-btn.dark {
  margin-left: 26px;
  background-color: #242424;
  color: #fafafa;
}
.text-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.text-section .text {
  padding: 0 50px;
  font-size: 20px;
  line-height: 1.5;
}
@media only screen and (max-width: 720px) {
  .text-section .text {
    padding: 20px 10px;
  }
}
.text-section .text .correct {
  color: rgb(0, 182, 134);
  text-decoration: none;
}
.text-section .text .wrong {
  color: rgb(254, 64, 12);
  text-decoration: underline;
}

.settings-section {
  padding: 50px 0;
}
.settings-section h2,
.settings-section h3 {
  text-transform: uppercase;
  font-weight: normal;
}
.settings-section .difficulty-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  margin: 20px 0;
}
.settings-section .difficulty-nav button {
  border: 0;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.settings-section .difficulty-nav button.active {
  background-color: rgb(0, 182, 134);
  color: rgb(255, 248, 243);
}
.settings-section .difficulty-nav button:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.settings-section .difficulty-nav button:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.settings-section .difficulty .level-info {
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.6;
  color: #242424;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.086);
  margin-bottom: 20px;
}
.settings-section .difficulty .level-info i {
  display: inline-block;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */